
main {
  background: var(--bg-input);
  display: flex;
  flex-flow: column wrap;
  text-overflow: clip;
  word-break: break-all;
}
p{
  word-break: keep-all;
}

main  p::first-letter{
  color: var(--text-color);
  font-family: var(--rubic-text-family);
  text-align: center;
}
.principal_hero {
  display: flex;
  justify-content: start;
  flex-flow: column nowrap;
  align-items: center;
  width: 100vw;
  margin-top: 50px;
  text-align: center;
}

.attachment-bg {
  height: 50vh;
  background-attachment: fixed;
  min-height: 560px;
  width: 100%;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.attachment-bg .card__video {
  height: 250px;
  border: none;
  object-fit: cover;
  transform: translateX(-500px);
  transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: absolute;
  left: .625rem;
  top: 10%;
}
.attachment-bg .card__video.slideTrailer {
  transform: translateX(0px);
}

.welcome__title,
h2,h4 {
  text-align: center;
  text-transform: uppercase;
  background-image: var(--linear-bg);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 30px;
  margin: 15px 0;
}
.welcome__title{
  font-size: 25px;
}
.welcome__paragrahp,
p {
  color: var(--search-text);
  margin: .625rem .625rem;
  padding-bottom: 1.25rem;
}

.discover__anime-world {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.discover__anime-btn {
  margin-bottom: 20px;
}
.slider__container {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: .4375rem;
}
.carrousel {
  position: relative;
  width: 100%;
  height: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .625rem 0;
}

.carrousel > .slide {
  margin: 0;
  padding: 0;
}
.slide {
  position: absolute;
  opacity: 0;
  top: 0;
  transition: opacity 1s ease-in;
  border: .625rem outset var(--text-color-aquaGreen);
  border-radius: .9375rem;
}
.slide.active {
  opacity: 1;
}
.slide > .animeFp {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 19.875rem;
}
.btn__container {
  margin: .625rem;
  position: absolute;
  top: 60%;
}
.btn__container > button {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
  border: none;
  font-size: 1.25rem;
  padding: .625rem 1.25rem;
  margin: 0 1.25rem;
  cursor: pointer;
}
.btn__container > button:hover {
  background: rgb(20, 20, 20);
  border-radius: .1875rem;
  color: var(--search-text);
  width: min-content;
}
.box-anime-title {
  background: var(--bg-input);
  color: var(--search-text);
  margin: 1.25rem;
  padding: .625rem 1.25rem;
  position: absolute;
  top: 70%;
  height: 6.25rem;
  width: 70%;
  text-align: center;
  font-size: .9375rem;
  border-radius: .9375rem;
  transform: translateX(-500px);
  transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.box-anime-title.slideTrailer {
  transform: translateX(0);
}

.slider-trailers .card-trailer {
  transition: transform 0.3s ease;
  height: 100%;
}


.stream-anime__section {
  flex-flow: column wrap;
  display: flex;
  margin: 1.25rem;
  text-align:center;
  justify-content: center;
  align-items: center;
}
.stream-anime__section a {
  padding: 10px 25px;
  margin: 20px;
  background: var(--linear-bg);
  color: var(--search-text);
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  text-align: center;
}
.stream-anime__section a:hover,
a:active {
  transform: scale(1.2);
  background: var(--text-color-aquaGreen);
  color: var(--bg-darked);
}
.menu__search_container{
  display: none;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media screen and (max-width: 320px) {
  .attachment-bg .card__video{
    left: 3%;
    width: 300px;
  }
  .welcome__title {
    word-break: keep-all;
    margin: .625rem 1.25rem;
  }
  .stream-anime__section {
    text-align: center;
    
  }
  .stream-anime__section > h2 {
    padding-top: 1.875rem;
    margin: 0;
    word-break: keep-all;
  }
  .synopsis-anime{
    display: none;
  }
  .span-name__anime{
    display: none;
  }
  .span-name__anime{
    display: none;
  }
  .synopsis__H4{
    display: none;
  }
  .box-anime-title{
    width: fit-content;
    text-align: center;
    height: fit-content;
  }
}

@media screen and (min-width: 360px){
  .attachment-bg .card__video{
    left: 8%;
  }
  .box-anime-title{
    top: 75%;
    height: fit-content;
    width: fit-content;
  }
  .stream-anime__section h2{
    font-size: 1.5625rem;
  }
  .synopsis-anime{
    display: none;
  }
  .span-name__anime{
    display: none;
  }
  .synopsis__H4{
    display: none;
  }
}

@media screen and (min-width: 375px) {
  .stream-anime__section > h2 {
    padding-top: 1.875rem;
  }
  .synopsis-anime{
    display: none;
  }
  .box-anime-title {
    height: fit-content;
    top: 70%;
  }
  .attachment-bg .card__video {
    left: 2.5rem;
    top: 15%;
  }
  .synopsis-anime{
    display: none;
  }
  .span-name__anime{
    display: none;
  }
  .synopsis__H4{
    display: none;
  }
}
@media screen and (min-width: 390px){
  .box-anime-title{
    top: 45%;
  }
  .carrousel{
    height:40vh;
  }

  .stream-anime__section h2{
    padding-top: .625rem;
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 412px){
  .attachment-bg .card__video {
    left: 10%;
    width: 350px;
  }
  .box-anime-title{
    top: 48%;
  }
}
@media screen and (min-width: 425px){
  .attachment-bg .card__video {
    left: 40px;
  }
  .box-anime-title{
    top: 70%;
  }
  .carrousel{
    height: 60vh;
  }
  .stream-anime__section h2{
    font-size: 30px;
  }
  .synopsis-anime{
    display: none;
  }
  .span-name__anime{
    display: none;
  }
  .synopsis__H4{
    display: none;
  }
}
@media (min-width: 426px) and (min-height: 854px) {
    .box-anime-title{
      top: 45%;
    }
    .carrousel{
      height: 40vh;
    }
}
@media screen and (min-width: 450px){
  .attachment-bg .card__video {
    left: 50px;
  }
  .btn__container{
    top: 40%;
  }
  .box-anime-title{
    top: 45%;
  }
  .carrousel{
    height: 30vh;
  }
  .synopsis-anime{
    display: none;
  }
  .span-name__anime{
    display: none;
  }
  .span-name__anime{
    display: none;
  }
  .synopsis__H4{
    display: none;
  }
  
}

@media screen and (min-width: 500px){
  .box-anime-title{
    top: 70%;
  }
  .attachment-bg .card__video{
    left: 80px;
    top: 120px;
    width: 340px;
    height: 18.75rem;
  }
  .btn__container{
    top: 35%;
  }
  .carrousel {
    height: 60vh;
  }
  .stream-anime__section h2 {
    font-size: 25px;
  }
}
@media screen and (min-width: 540px){
  .attachment-bg .card__video{
    left: 18%;
  }
  .box-anime-title{
    transform: translateX(-800px);
    top: 65%;
    height: max-content;
  }
  .carrousel {
    height: 50vh;
  }
}
@media screen and (min-width: 600px){
  .box-anime-title{
    top: 45%;
  }
}
@media screen and (min-width: 717px){
  .attachment-bg .card__video {
    transform: translateX(-200%);
    width: 550px;
    height: 400px;
    left: 5.3125rem;
    top: 15%;
  }
  .box-anime-title{
    transform: translateX(-800px);
    top: 95%;
    width: fit-content;
  }
  .btn__container{
    top: 50%;
  }
  .carrousel{
    height: 60vh;
  }
  .slider__container .slide{
    right: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slide.active .synopsis-anime{
    display: block;
    position: absolute;
    font-size: small;
    left: 15rem;
    top: 0rem;
    width: 19.9375rem;
    text-shadow:.0625rem .0625rem .125rem rgba(16, 204, 166, 0.5) ;
    height: 19.9375rem; 
    overflow: auto;
    scroll-behavior: smooth;
    transition: scroll 5s cubic-bezier(0.99, 0.99, 1, 1.01);
  }
  .span-name__anime{
    position: absolute;
    left: 0;
    bottom: .625rem;
    margin: 0rem .3125rem;
    padding: .625rem;
    background-color: var(--bg-input);
    border-radius: .9375rem;
    color: var(--search-text);
    display: block;

  }
  .synopsis__H4{
    display: block;
    position: absolute;
    top: -1.25rem;
    font-size: 1.25rem;
  }
  .btn__container{
    width: 100%;
    display: flex;
    top: 50%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px){
  .attachment-bg{
    background-position: center center;
    height: 100vh;
    background-repeat: repeat-x;
    background-size: contain;
  }
  .attachment-bg .card__video {
    transform: translateX(-200%);
    width: 37.5rem;
    height: 450px;
    left: 5.3125rem;
  }
  .welcome__title{
    font-size: 2.1875rem;
  }
  .welcome__paragrahp{
    font-size: 1.5625rem;
  }
  .box-anime-title{
    transform: translateX(-800px);
    top: 90%;
    width: fit-content;
  }
  .stream-anime__section h2{
    font-size: 1.875rem;
  }
  .stream-anime__section p{
    font-size: 1.25rem;
  }

}
@media screen and (min-width: 912px){
  .attachment-bg .card__video{
    left: 15%;
  }
}
@media (min-width: 768px) and (min-height: 1024px){
  .attachment-bg .card__video {
    top: 20%;
    height: 31.25rem;
  }
  .box-anime-title{
    font-size: 2.1875rem;
    top: 80%;
  }
  .slide.active .synopsis-anime{
    font-size: 1.5625rem;
  }
  .btn__container{
    top: 42%;
  }
  .carrousel {
    height: 35vh;
  }
  .btn__container > button{
    font-size: 2.1875rem;
  }
  .stream-anime__section h2{
    font-size: 2.1875rem;
  }
  .stream-anime__section p{
    font: 20px;
  }
}
@media screen and (min-width: 820px){
  .attachment-bg .card__video {
    top: 20%;
    height: 37.5rem;
    width: 40.625rem;
  }
  .btn__container{
    top: 43%;
  }
  .btn__container > button{
    font-size: 2.5rem;
  }
  .box-anime-title{
    top: 80%;
    width: 60%;
    height: fit-content;
    font-size: 30px;
  }
  .carrousel{
    height: 30vh;
  }
  .stream-anime__section h2{
    font-size: 1.875rem;
  }
  .stream-anime__section p{
    font-size: 1.25rem;
  }
  .slider__container .slide{
    top: 10%;
  }
  .slide.active .synopsis-anime{
    font-size: 1.25rem
  }
  .synopsis__H4{
    top: 2%;
    left: 50%;
    font-size: 1.875rem;
  }
}
@media  (min-width: 1024px) and (min-height: 600px)  {
  .attachment-bg .card__video{
    height: 400px;
    left: 18%;
  }
  .box-anime-title{
    top: 85%;
    width: fit-content;
    height: fit-content;
    transform: translateX(-1200px);
  }
  .carrousel {
    height: 60vh;
  }
}
@media (min-width: 1024px) and (min-height: 785px){
  .attachment-bg {
    background-repeat: repeat-x;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .attachment-bg .card__video{
    left: 11%;
    top: 10%;
    width: 50rem;
    height: 500px;
    display: flex;
    align-items: center;
  }
  .box-anime-title{
    transform: translateX(-68.75rem);
    font-size: larger;
    padding: 1.25rem;
    top: 76%;
  }
  
  .welcome__paragrahp{
    text-align: center;
    margin: 0rem 1.875rem;
    text-overflow: clip;
  }
  .carrousel{
    height: 50vh;
  }
  .stream-anime__section p{
    width: 50%;
  }
  footer{
    display: block;
  }
  footer span{
    margin: 0;
  }
  footer p {
    padding: .625rem;
  }
  footer ul{
    display: flex;
    justify-content: center;
    flex-flow: row;
  }
}
@media screen and (min-width: 1100px){
  .attachment-bg{
    background-repeat: repeat-x;
    background-size: contain;
  }
  .attachment-bg .card__video{
    left: 13%;
    width: 900px;
    height: 400px;
    top:15%;
  }
  .box-anime-title{
    transform: translateX(-93.75rem);
    font-size: 20px;
    width: 50%;
  }
  .slider__container .slide{
    right: 55%;
  }
  .slide.active .synopsis-anime{
    font-size: medium;
    left: 15.625rem;
  }
  .span-name__anime{
    left: 0;
    bottom: .625rem;

  }
  .synopsis__H4{
    top: -1.25rem;
    left: 50%;
  }
}
@media (min-width: 1280px) and (min-height: 800px) {
  .attachment-bg .card__video{
    left: 15%;
    width: 900px;
    height: 600px;
  }
  .box-anime-title{
    top: 90%;
  }
}
@media screen and (min-width: 1440px){
  .attachment-bg .card__video{
    left: 15%;
    width: 62.5rem;
    height: 43.75rem;
  }
  .btn__container > button{
    padding: 1.25rem 1.875rem;
    font-size: 2.5rem;
  }
  .box-anime-title{
    transform: translateX(-93.75rem);
  }
  .slide.active .synopsis-anime{
    font-size: 1.25rem;
  }
}